.hidden{
  display:none
}
/* .newsadd{
  height: 250px;
  border: 1px solid rgb(82, 91, 112,0.6);
  margin-top: 20px;
  background-color: rgb(239, 239, 247,0.7);
  box-shadow: 1px 1px 1px rgb(239, 239, 247,0.7);
  
} */